<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet library="css" name="theme.css"/>
    <title>DMS Parser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

</h:head>
<h:body>

        <p:layout fullPage="true" resizeTitle="resize" styleClass="wrap">

            <p:layoutUnit position="north" id="north" size="145" styleClass="header">
                <ui:include src="header.xhtml"/>
            </p:layoutUnit>

            <p:layoutUnit position="west" id="west" resizable="true" size="270">
                <h:form>
                    <h3 style="margin-top:0">Menu</h3>
                    <p:menu styleClass="menu">
                        <p:menuitem value="Home" outcome="index" icon="ui-icon-star"/>
                        <p:menuitem value="Upload file" outcome="upload" icon="ui-icon-document"/>
                        <p:submenu label="Data Model">
                            <p:menuitem value="Attributes" outcome="attribute_view" icon="ui-icon-search"/>
                            <p:menuitem value="Types" outcome="types_view" icon="ui-icon-search"/>
                            <p:menuitem value="Objects" outcome="objects_view" icon="ui-icon-search"/>
                            <p:menuitem value="List Values" outcome="list_value" icon="ui-icon-search"/>
                            <p:menuitem value="Documents" outcome="documents" icon="ui-icon-search"/>

                        </p:submenu>
                    </p:menu>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center" styleClass="layoutUnitCenter" resizable="true">
                <h:form id="messagesForm">
                    <p:messages autoUpdate="true" id="msgs" showDetail="true" showSummary="true"/>
                </h:form>
                <ui:insert name="content"/>
            </p:layoutUnit>

            <p:layoutUnit position="south" id="south" styleClass="footer" resizable="true">
                <p align="center">&copy; NetCracker education group 2015-2016</p>
            </p:layoutUnit>

        </p:layout>

</h:body>


</html>