<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Addition new list value type</title>
        </h:head>
        <h:body>
            <h:form>
            <h3 style="margin-top: 0">Addition new list value type</h3>
                <h:panelGrid columns="2">
                    <p:outputLabel for="name" value="Name : " />
                    <p:inputText id="name" value="#{addListValueTypeView.listValueType.name}"></p:inputText>

                </h:panelGrid>
                <p:commandButton id="cancel" value="Cancel" action="#{addListValueTypeView.cancel}" ajax="true"/>
                <p:commandButton id="addListValueType" value="Add" action="#{addListValueTypeView.addListValueType}" ajax="true" />
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>

</html>