<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">


        <h:body>
            <h:form id="reference_view_form">
                <p:button value="Create Reference"  outcome="reference_create" icon="ui-icon-circle-plus" />


                <p:contextMenu for="references">
                    <p:menuitem value="View" update="referenceDetail" icon="ui-icon-search" oncomplete="PF('referenceDialog').show()"/>
                    <p:menuitem value="Edit" update="references" icon="ui-icon-pencil" action="#{allReferencesView.editReference}"/>
                    <p:menuitem value="Delete" action="#{allReferencesView.deleteReference}" update="@form" icon="ui-icon-close" ajax="true"/>
                </p:contextMenu>
                <p:dataTable id="references" var="reference" value="#{allReferencesView.references}" rowKey="#{reference.id}"
                             selection="#{allReferencesView.selectedReference}" selectionMode="single" style="width: 100%">

                    <f:facet name="header">
                        References:
                    </f:facet>

                    <p:column headerText="Ref from">
                        <h:outputText value="#{reference.object.name}" />
                    </p:column>

                    <p:column headerText="Ref to">
                        <h:outputText value="#{reference.reference.name}" />
                    </p:column>

                    <p:column headerText="Attribute">
                        <h:outputText value="#{reference.attribute.name}" />
                    </p:column>

                    <p:column headerText="Order">
                        <h:outputText value="#{reference.order}" />
                    </p:column>
                </p:dataTable>

                <p:dialog header="Reference Info" widgetVar="referenceDialog" appendToBody="false" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="referenceDetail" style="text-align:center;">
                        <p:panelGrid columns="2" rendered="#{not empty allReferencesView.selectedReference}" columnClasses="label,value">
                            <f:facet name="header">
                                <h:outputText value="Reference details" />
                            </f:facet>
                            <h:outputText value="Id:" />
                            <h:outputText value="#{allReferencesView.selectedReference.id}" />

                            <h:outputText value="Name" />
                            <h:outputText value="#{allReferencesView.selectedReference.object.name}" />

                            <h:outputText value="ReferenceType" />
                            <h:outputText value="#{allReferencesView.selectedReference.reference.name}" />

                            <h:outputText value="Description" />
                            <h:outputText value="#{allReferencesView.selectedReference.attribute.name}" />

                            <h:outputText value="Properties" />
                            <h:outputText value="#{allReferencesView.selectedReference.order}" />
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>