<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="id" value="#{attributeEditView.id}" />
            <f:viewAction action="#{attributeEditView.init}" />
        </f:metadata>
        <h:head>
            <title>Attribute edit</title>
        </h:head>
        <h:body>
            <h:form id="form">
                <h:panelGrid columns="2"  cellpadding="5">
                    <p:outputLabel value="Id : " />
                    <p:outputLabel id="id" value="#{attributeEditView.attribute.id}"></p:outputLabel>

                    <p:outputLabel for="name" value="Name : " />
                    <p:inputText id="name" value="#{attributeEditView.attribute.name}"></p:inputText>

                    <p:outputLabel for="type" value="Type: " />
                    <p:outputLabel id="type" value="#{attributeEditView.attribute.typeName}" ></p:outputLabel>

                    <p:outputLabel for="listValueType" value="List type: " rendered="#{attributeEditView.isList()}"/>
                    <p:outputLabel id="listValueType" value="#{attributeEditView.attribute.listValueType.name}" rendered="#{attributeEditView.isList()}"/>


                    <p:outputLabel for="description" value="Description : " />
                    <p:inputTextarea rows="1" cols="33" id="description" value="#{attributeEditView.attribute.description}"></p:inputTextarea>

                    <p:outputLabel for="properties" value="Properties : " />
                    <p:inputTextarea rows="1" cols="33" id="properties" value="#{attributeEditView.attribute.properties}"></p:inputTextarea>

                </h:panelGrid>
                <p:commandButton id="cancel" value="Cancel" action="#{attributeEditView.cancel}" oncomplete = "window.history.back();" ajax="true" />
                <p:commandButton id="update" value="OK" action="#{attributeEditView.update}" oncomplete = "window.history.back();" ajax="true"/>
            </h:form>
        </h:body>
    </ui:define>

</ui:composition>
</html>