<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">


        <h:body>
            <h:form id="attribute_view_form">
                <p:button value="Create Attribute" outcome="attribute_create" icon="ui-icon-circle-plus"/>
                <p:contextMenu for="attributes">
                    <p:menuitem value="View" update="attributeDetail" icon="ui-icon-search"
                                oncomplete="PF('attributeDialog').show()"/>
                    <p:menuitem value="Edit" update="attributes" icon="ui-icon-pencil"
                                action="#{attributeView.editAttribute}"/>
                    <p:menuitem value="Delete" action="#{attributeView.deleteAttribute}" update="@form"
                                icon="ui-icon-close" ajax="true"/>
                </p:contextMenu>
                <p:dataTable id="attributes" var="attribute" value="#{attributeView.attributes}"
                             rowKey="#{attribute.id}"
                             selection="#{attributeView.selectedAttribute}" selectionMode="single" style="width: 100%"
                             paginator="true" rows="10" filteredValue="#{attributeView.filteredAttributes}">

                    <f:facet name="header">
                        Attributes:
                    </f:facet>

                    <p:column headerText="Name" filterBy="#{attribute.name}" filterMatchMode="contains" sortBy="#{attribute.name}">
                        <h:outputText value="#{attribute.name}"/>
                    </p:column>

                    <p:column headerText="Type" sortBy="#{attribute.typeName}">
                        <h:outputText value="#{attribute.typeName}"/>
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{attribute.description}"/>
                    </p:column>

                    <p:column headerText="Properties">
                        <h:outputText value="#{attribute.properties}"/>
                    </p:column>
                </p:dataTable>

                <p:dialog header="Attribute Info" widgetVar="attributeDialog" appendToBody="false" modal="false"
                          showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="attributeDetail" style="text-align:center;">
                        <p:panelGrid columns="2" rendered="#{not empty attributeView.selectedAttribute}"
                                     columnClasses="label,value">
                            <f:facet name="header">
                                <h:outputText value="Attribute details"/>
                            </f:facet>
                            <h:outputText value="Id:"/>
                            <h:outputText value="#{attributeView.selectedAttribute.id}"/>

                            <h:outputText value="Name"/>
                            <h:outputText value="#{attributeView.selectedAttribute.name}"/>

                            <h:outputText value="AttributeType"/>
                            <h:outputText value="#{attributeView.selectedAttribute.typeName}"/>

                            <h:outputText value="Description"/>
                            <h:outputText value="#{attributeView.selectedAttribute.description}"/>

                            <h:outputText value="Properties"/>
                            <h:outputText value="#{attributeView.selectedAttribute.properties}"/>
                            <h:outputText value="List Type"/>
                            <h:outputText value="#{attributeView.selectedAttribute.listValueType.name}"/>

                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>