<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Create Attribute</title>
        </h:head>
        <h:body>
            <h:form>
                <h:panelGrid columns="2">

                    <p:outputLabel for="name" value="Name : " />
                    <p:inputText id="name" value="#{attributeCreateView.attribute.name}"/>

                    <p:outputLabel for="dataType" value="Type: " />
                    <p:selectOneMenu id="dataType" value="#{attributeCreateView.attribute.dataType}"  converter="#{dataTypeConverter}">
                        <f:selectItems value="#{attributeCreateView.dataTypeList}" var="dataType" itemLabel="#{dataType.name}" itemValue="#{dataType}"/>
                        <p:ajax update="listValueType"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="listValueType" value="List type: " />
                    <p:selectOneMenu id="listValueType" value="#{attributeCreateView.attribute.listValueType}"  disabled="#{!attributeCreateView.isList()}" converter="#{listValueTypeConverter}">
                        <f:selectItems value="#{attributeCreateView.listValueTypeList}" var="listValueType" itemLabel="#{listValueType.name}" itemValue="#{listValueType}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="description" value="Description : " />
                    <p:inputTextarea rows="1" cols="33" id="description" value="#{attributeCreateView.attribute.description}"></p:inputTextarea>

                    <p:outputLabel for="properties" value="Properties : " />
                    <p:inputTextarea rows="1" cols="33" id="properties" value="#{attributeCreateView.attribute.properties}"></p:inputTextarea>


                </h:panelGrid>
                <p:commandButton id="addAttribute" value="Add" action="#{attributeCreateView.addAttribute}" ajax="true" />
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>

</html>