<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="filename" value="#{changesView.fileName}"/>
            <f:viewAction action="#{changesView.init}" />
        </f:metadata>
        <h:head>
            <title>Changes Preview</title>
        </h:head>
        <h:body>
            <h:form id="form">
                <p:growl id="msgs" showDetail="true"/>
                <style>
                    .newEntity {
                        background-color: #C6EFCE !important;
                    }
                    .updatedEntity {
                        background-color: #FFEB9C!important;
                    }
                    .deletedEntity {
                        background-color: #FFC7CE !important;
                    }
                </style>
				
				<p:commandButton value="Apply" id="apply" update="msgs" action="#{changesView.saveChanges}" styleClass="ui-priority-primary" />

                <p:commandButton value="Cancel" id="cancel" update="msgs" actionListener="#{changesView.buttonCancel}"/>

                <p:dataTable id="types" var="type" value="#{changesView.types}" style="width: 100%"
                             rowStyleClass="#{type.style}" rendered="#{changesView.typeRendered}">
                    <f:facet name="header">
                        Types:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{type.entity.id}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{type.entity.name}"/>
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{type.entity.description}"/>
                    </p:column>
                    <p:column headerText="Properties">
                        <h:outputText value="#{type.entity.properties}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="attributes" var="attribute" value="#{changesView.attributes}" style="width: 100%"
                             rowStyleClass="#{attribute.style}" rendered="#{changesView.attributeRendered}">

                    <f:facet name="header">
                        Attributes:
                    </f:facet>

                    <p:column headerText="ID">
                        <h:outputText value="#{attribute.entity.id}" />
                    </p:column>

                    <p:column headerText="Name">
                        <h:outputText value="#{attribute.entity.name}"/>
                    </p:column>

                    <p:column headerText="Type">
                    <h:outputText value="#{attribute.entity.dataType.name}" />
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{attribute.entity.description}"/>
                    </p:column>

                    <p:column headerText="Properties">
                        <h:outputText value="#{attribute.entity.properties}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="lists" var="listType" value="#{changesView.listTypes}" style="width: 100%"
                             rowStyleClass="#{listType.style}" rendered="#{changesView.listsRendered}">
                    <f:facet name="header">
                        Lists:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{listType.entity.id}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{listType.entity.name}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="listValues" var="listValue" value="#{changesView.listValues}" style="width: 100%"
                             rowStyleClass="#{listValue.style}" rendered="#{changesView.listValuesRendered}">
                    <f:facet name="header">
                        List Values:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{listValue.entity.listValueId}"/>
                    </p:column>
                    <p:column headerText="List ID">
                        <h:outputText value="#{listValue.entity.listValueType.id}"/>
                    </p:column>
                    <p:column headerText="Value">
                        <h:outputText value="#{listValue.entity.value}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="objects" var="object" value="#{changesView.objects}" style="width: 100%"
                             rowStyleClass="#{object.style}" rendered="#{changesView.objectsRendered}">
                    <f:facet name="header">
                        Objects:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{object.entity.id}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{object.entity.name}"/>
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{object.entity.description}"/>
                    </p:column>
                    <p:column headerText="Type">
                        <h:outputText value="#{object.entity.type}"/>
                    </p:column>
                    <p:column headerText="Parent">
                        <h:outputText value="#{object.entity.parent}"/>
                    </p:column>
                    <p:column headerText="Project">
                        <h:outputText value="#{object.entity.projectID}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="values" var="value" value="#{changesView.values}" style="width: 100%"
                             rowStyleClass="#{value.style}" rendered="#{changesView.valuesRendered}">
                    <f:facet name="header">
                        Object values:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{value.entity.id}"/>
                    </p:column>
                    <p:column headerText="Object">
                        <h:outputText value="#{value.entity.obj}"/>
                    </p:column>
                    <p:column headerText="Value">
                        <h:outputText value="#{value.entity.uniValue}"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="references" var="reference" value="#{changesView.references}" style="width: 100%"
                             rowStyleClass="#{reference.style}" rendered="#{changesView.referencesRendered}">
                    <f:facet name="header">
                        References:
                    </f:facet>
                    <p:column headerText="ID">
                        <h:outputText value="#{reference.entity.id}"/>
                    </p:column>
                    <p:column headerText="Objecect">
                        <h:outputText value="#{reference.entity.object}"/>
                    </p:column>
                    <p:column headerText="Reference">
                        <h:outputText value="#{reference.entity.reference}"/>
                    </p:column>
                    <p:column headerText="Attribute">
                        <h:outputText value="#{reference.entity.attribute}"/>
                    </p:column>
                    <p:column headerText="Order">
                        <h:outputText value="#{reference.entity.order}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>