<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">

        <h:body>
            <h:form>
                <p:dataTable value="#{documentsView.docs}" var="doc" >
                    <p:column headerText="Id">
                            <h:outputText value="#{doc.id}" />
                    </p:column>
                    <p:column headerText="Document Name">
                        <p:link id="ajax" outcome="single_doc_view" ajax="true">
                            <f:param name="id" value="#{doc.id}" />
                            <h:outputText value="#{doc.name}" />
                        </p:link>
                    </p:column>
                    <p:column headerText="Hash">
                        <h:outputText value="#{doc.hash}" />
                    </p:column>
                </p:dataTable>

            </h:form>
        </h:body>

    </ui:define>
</ui:composition>
</html>