<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="listValueTypeId" value="#{editListValueTypeView.listValueTypeId}" />
            <f:viewAction action="#{editListValueTypeView.init}" />
        </f:metadata>
        <h:head>
            <title>List Value Type</title>
        </h:head>
        <h:body>
            <h:form id="form">
            <h3 style="margin-top: 0">Editing list value type</h3>
                <h:panelGrid columns="2" columnClasses="column" cellpadding="5">
					<p:outputLabel value="Id : " />
                    <p:outputLabel value="#{editListValueTypeView.listValueTypeId}"></p:outputLabel>
                    
                    <p:outputLabel for="name" value="Name : " />
                    <p:inputText id="name" value="#{editListValueTypeView.listValueType.name}"></p:inputText>
                    
                    <p:outputLabel for="listValues" value="Value:" />
                    <p:selectOneListbox id="listValues">
						<f:selectItems value="#{editListValueTypeView.listValueType.listValues}" var="lv" itemLabel="#{lv.value}" itemValue="#{lv.value}" />
        			</p:selectOneListbox>	
        			
        			<p:outputLabel for="newvalue" value="New value : " />
                    <p:inputText id="newvalue" value="#{editListValueTypeView.listValue}"></p:inputText>			
 					
 					

                </h:panelGrid>
                <p:commandButton id="cancel" value="Cancel" action="#{editListValueTypeView.cancel}" ajax="true"/>
                <p:commandButton id="add" value="Add New Value" action="#{editListValueTypeView.addNewValue}" ajax="true"/>
                <p:commandButton id="update" value="OK" action="#{editListValueTypeView.update}" ajax="true"/>
                
            </h:form>
            
        </h:body>
    </ui:define>

</ui:composition>
</html>