<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Application error</title>
</h:head>

<h:body>
    Error has occurred!
</h:body>

</html>