<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>  
    		<title>Home Page</title>  
		</h:head>  
		<h:body>  
		<h3 style="margin-top: 0;text-align: center">Please register, to get started with the application. </h3>
		<h3 style="margin-top: 0;text-align: center">If you already have an account, press "Log In". </h3>	
			<h:form style="text-align: center">
    			<p:button styleClass="Log In"  outcome="login" value="Log In"/>
    			<p:button styleClass="Sign Up" outcome="register" value="Sign Up"/>
            </h:form>
		</h:body>  
    </ui:define>
</ui:composition>
</html>