<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Welcome</title>
        </h:head>

        <h:body>
        	
            <h3 style="margin-top: 0">Welcome #{loginBean.login}</h3>
            
            <h3 style="margin-top: 0">Now you can use the application</h3>
            <h:form>
            <p:commandButton value="Log out" action="#{loginBean.logout}" style="margin-right:10px"/>
           
    </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>