<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Lists Value</title>
        </h:head>

        <h:body>
            <h:form>
            <p:contextMenu for="list_value">
                    <p:menuitem value="Edit" update="list_value" icon="ui-icon-pencil" action="#{listValueView.delete}"/>
                    <p:menuitem value="Delete" update="list_value" icon="ui-icon-close" actionListener="#{listValueView.deleteListValueType}"/>
                </p:contextMenu>
            <p:dataTable id="list_value" var="listValue" value="#{listValueView.listValues}" rowKey="#{listValue.value}"
                             selection="#{listValueView.selectedListValue}" selectionMode="single" style="width: 100%">

                    <f:facet name="header">
                        List name:
                    </f:facet>

                    
                    <p:column headerText="Value">
                        <h:outputText value="#{listValue.value}" />
                </p:column>    
                </p:dataTable>

</h:form>

        </h:body>
    </ui:define>
</ui:composition>
</html>