<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Lists Value Type</title>
        </h:head>

        <h:body>
            <h:form>
 
    		<p:contextMenu for="listValueTypes" showDetail="true">
    			<p:menuitem value="Add new list" icon="ui-icon-circle-plus" outcome="add_list_value_type"/>
    			<p:menuitem value="Edit" update="listValueTypes" icon="ui-icon-pencil" action="#{listValueTypeView.editListValueType}"/>
    			<p:menuitem value="Delete" update="@form" icon="ui-icon-close" actionListener="#{listValueTypeView.deleteListValueType}" ajax="true"/>
            </p:contextMenu>
            <p:dataTable rowKey="#{listValueType.id}" selection="#{listValueTypeView.selectedListValueType}"
            			 selectionMode="single"  id="listValueTypes" var="listValueType" value="#{listValueTypeView.listValueTypes}"
            			 style="width:300px">
            	<p:column headerText="List value type">
            	<h3 style="margin-top: 0;text-align:center">#{listValueType.name}</h3>
    			<p:dataList value="#{listValueType.listValues}" var="lv" type="unordered">
        			
        		#{lv.value}
    			</p:dataList>	
    			</p:column>
			</p:dataTable>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>