<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Login</title>
        </h:head>
        <h:body>
            <h:form>
                <p:panel>
                    <p:panelGrid columns="2">
                        <p:outputLabel for="username" value="Username" />
                        <p:inputText id="username" value="#{loginBean.login}"/>
                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" value="#{loginBean.password}" />
                    </p:panelGrid>
                    <p:commandButton value="Log in" action="#{loginBean.doLogin}" style="margin-right:10px"/>
                </p:panel>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>
    