<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Objects</title>
        </h:head>
        <h:body>
            <h:form id="form">
                <p:growl id="msgs" showDetail="true"/>

                <p:dataTable id="objects" var="object" value="#{objectView.objects}"
                             style="margin-bottom:20px"  paginator="true" rows="10" filteredValue="#{objectView.filteredObjects}">
                    <f:facet name="header">
                        Object
                    </f:facet>

                    <p:column headerText="Name" filterBy="#{object.name}" filterMatchMode="contains" sortBy="#{object.name}">
                        <p:link outcome="single_object_view" value="#{object.name}">
                            <f:param name="id" value="#{object.id}" />
                        </p:link>
                    </p:column>

                    <p:column headerText="Type" filterBy="#{object.type.name}" filterMatchMode="contains" sortBy="#{object.type.name}">
                        <p:link outcome="type_edit" value="#{object.type.name}">
                            <f:param name="id" value="#{object.type.id}" />
                        </p:link>
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{object.name}" />
                    </p:column>

                    <p:column headerText="Parent"  filterBy="#{object.parent.name}" filterMatchMode="contains" sortBy="#{object.parent.name}">
                        <p:link outcome="single_object_view" value="#{object.parent.name}">
                            <f:param name="id" value="#{object.parent.id}" />
                        </p:link>
                    </p:column>

                    <p:column headerText="Project"  filterBy="#{object.projectID.name}" filterMatchMode="contains" sortBy="#{object.projectID.name}">
                        <p:link outcome="single_object_view" value="#{object.projectID.name}">
                            <f:param name="id" value="#{object.projectID.id}" />
                        </p:link>
                    </p:column>

                    <p:column headerText="Order">
                        <h:outputText value="#{object.orderID}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>