<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
            <title>Home Page</title>
        </h:head>
        <h:body>
            <h3 style="margin-top: 0;text-align:center">Account Registration</h3>
            <h:form>
                <p:panel header="">
                    <p:messages autoUpdate="true"/>

                    <h:panelGrid id="grid" columns="2" cellpadding="5">
                        <h:outputLabel for="login" value="Username:" style="font-weight:bold"/>
                        <p:inputText id="login" value="#{registerView.login}" required="true" label="login"/>

                        <h:outputLabel for="pwd1" value="Password: " style="font-weight:bold"/>
                        <p:password id="pwd1" value="#{registerView.password}" match="pwd2" label="Password 1" required="true" />

                        <h:outputLabel for="pwd2" value="Confirm password: " style="font-weight:bold"/>
                        <p:password id="pwd2" value="#{registerView.password}" label="Password 2" required="true" />

                    </h:panelGrid>
                    <p:commandButton value="Register" action="#{registerView.addUser}" update="grid" icon="ui-icon-check" validateClient="true" style="margin-right:10px"/>
                    <p:commandButton value="Cancel" action="#{registerView.cancel}" update="grid" style="margin-right:10px"/>
                </p:panel>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>