<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="id" value="#{singleObjectView.id}" />
            <f:viewAction action="#{singleObjectView.init}" />
        </f:metadata>
        <h:head>
            <title>Object</title>
        </h:head>
        <h:body>
            <h:form id="form">
                <h:panelGrid columns="2" columnClasses="column" cellpadding="5">

                    <h:outputLabel for="id" value="ID:" />
                    <p:inplace id="id" editor="false">
                        <p:inputText value="#{singleObjectView.object.id}" required="true" label="text" />
                    </p:inplace>


                    <h:outputLabel for="name" value="Name:" />
                    <p:inplace id="name" editor="true">
                        <p:inputText value="#{singleObjectView.object.name}" required="true" label="text" />
                    </p:inplace>

                    <h:outputLabel for="type" value="Type:" />
                    <p:link id="type" outcome="type_edit" value="#{singleObjectView.object.type.name}">
                        <f:param name="id" value="#{singleObjectView.object.type.id}" />
                    </p:link>

                    <h:outputLabel for="description" value="Description:" />
                    <p:inplace id="description" editor="true">
                        <p:inputTextarea value="#{singleObjectView.object.description}" rows="1" cols="33" />
                    </p:inplace>

                    <h:outputLabel for="parent" value="Parent:" />
                    <p:link id="parent" outcome="single_object_view" value="#{singleObjectView.object.parent.name}">
                        <f:param name="id" value="#{singleObjectView.object.parent.id}" />
                    </p:link>

                    <h:outputLabel for="project" value="Project:" />
                    <p:link id="project" outcome="single_object_view" value="#{singleObjectView.object.projectID.name}">
                        <f:param name="id" value="#{singleObjectView.object.projectID.id}" />
                    </p:link>

                    <h:outputLabel for="order" value="Order:" />
                    <p:inplace id="order" editor="true">
                        <p:inputText value="#{singleObjectView.object.orderID}" required="true" label="text" />
                    </p:inplace>


                </h:panelGrid>
                <p:commandButton action="#{singleObjectView.deleteObject()}" value="Delete" icon="ui-icon-close"  ajax="true"/>
                <p:tabView>
                    <p:tab title="Attributes">
                        <h:form id="values_view_form">
                            <p:dataTable id="values" var="value" value="#{singleObjectView.values}" rowKey="#{value.id}"
                                         selection="#{singleObjectView.selectedValue}" selectionMode="single" style="width: 100%">
                                <f:facet name="header">
                                    Attribute values for #{singleObjectView.object.name}
                                </f:facet>
                                <p:column headerText="Attribute">
                                    <p:link outcome="attribute_edit" ajax="true">
                                        <f:param name="id" value="#{value.attribute.id}" />
                                        <h:outputText value="#{value.attribute.name}" />
                                    </p:link>
                                </p:column>
                                <p:column headerText="Value">
                                    <h:outputText value="#{value.uniValue}" />
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:tab>
                    <p:tab title="References">
                        <h:form id="reference_view_form">
                            <p:contextMenu for="references">
                                <p:menuitem value="View" update="referenceDetail" icon="ui-icon-search" oncomplete="PF('referenceDialog').show()"/>
                                <p:menuitem value="Edit" update="references" icon="ui-icon-pencil" action="#{objectReferencesView.editReference}"/>
                                <p:menuitem value="Delete" action="#{objectReferencesView.deleteReference}" update="@form" icon="ui-icon-close" ajax="true"/>
                            </p:contextMenu>
                            <p:dataTable id="references" var="reference" value="#{singleObjectView.references}" rowKey="#{reference.id}"
                                         selection="#{singleObjectView.selectedReference}" selectionMode="single" style="width: 100%">
                                <f:facet name="header">
                                    References for #{singleObjectView.object.name}
                                </f:facet>
                                <p:column headerText="Attribute">
                                    <p:link id="attribute" outcome="attribute_edit" ajax="true">
                                        <f:param name="id" value="#{reference.attribute.id}" />
                                        <h:outputText value="#{reference.attribute.name}" />
                                    </p:link>
                                </p:column>
                                <p:column headerText="Ref to">
                                    <p:link id="reftoobj" outcome="single_object_view" ajax="true">
                                        <f:param name="id" value="#{reference.reference.id}" />
                                        <h:outputText value="#{reference.reference.name}" />
                                    </p:link>
                                </p:column>

                                <p:column headerText="Order">
                                    <h:outputText value="#{reference.order}" />
                                </p:column>
                            </p:dataTable>

                            <p:dialog header="Reference Info" widgetVar="referenceDialog" appendToBody="false" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
                                <p:outputPanel id="referenceDetail" style="text-align:center;">
                                    <p:panelGrid columns="2" rendered="#{not empty objectReferencesView.selectedReference}" columnClasses="label,value">
                                        <f:facet name="header">
                                            <h:outputText value="Reference details" />
                                        </f:facet>
                                        <h:outputText value="Id:" />
                                        <h:outputText value="#{singleObjectView.selectedReference.id}" />

                                        <h:outputText value="Name" />
                                        <h:outputText value="#{singleObjectView.selectedReference.object.name}" />

                                        <h:outputText value="ReferenceType" />
                                        <h:outputText value="#{singleObjectView.selectedReference.reference.name}" />

                                        <h:outputText value="Description" />
                                        <h:outputText value="#{singleObjectView.selectedReference.attribute.name}" />

                                        <h:outputText value="Properties" />
                                        <h:outputText value="#{singleObjectView.selectedReference.order}" />
                                    </p:panelGrid>
                                </p:outputPanel>
                            </p:dialog>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </h:form>
        </h:body>
    </ui:define>

</ui:composition>
</html>