<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="id" value="#{singleDocView.id}"/>
            <f:viewAction action="#{singleDocView.init}"/>
        </f:metadata>
        <h:head>
            <title>Document</title>
        </h:head>
        <h:body>

            <h:form id="form">


                <p:commandButton action="#{singleDocView.createDocument}" value="Create Docx"></p:commandButton>
                <h:panelGrid columns="2" columnClasses="column" cellpadding="5">
                    <h:outputLabel for="id" value="ID:"/>
                    <p:inplace id="id" editor="false">
                        <p:inputText value="#{singleDocView.id}" required="true" label="text"/>
                    </p:inplace>
                    <h:outputLabel for="name" value="Name:"/>
                    <p:inplace id="name" editor="true">
                        <p:inputText value="#{singleDocView.document.name}" required="true" label="text"/>
                    </p:inplace>
                    <h:outputLabel for="hash" value="Hash:"/>
                    <p:inplace id="hash" editor="false">
                        <p:inputText value="#{singleDocView.document.hash}" required="false" label="text"/>
                    </p:inplace>
                </h:panelGrid>
                <p:tabView>
                    <p:tab title="Attributes">
                        <h:form id="attribute_view_form">
                            <p:dataTable id="attributes" var="attribute" value="#{singleDocView.document.attributes}"
                                         rowKey="#{attribute.id}"
                                         style="width: 100%"
                                         paginator="true" rows="10">
                                <p:column headerText="Name" sortBy="#{attribute.name}">
                                    <h:outputText value="#{attribute.name}"/>
                                </p:column>
                                <p:column headerText="Type" sortBy="#{attribute.typeName}">
                                    <h:outputText value="#{attribute.typeName}"/>
                                </p:column>
                                <p:column headerText="Description">
                                    <h:outputText value="#{attribute.description}"/>
                                </p:column>
                                <p:column headerText="Properties">
                                    <h:outputText value="#{attribute.properties}"/>
                                </p:column>
                            </p:dataTable>

                        </h:form>
                    </p:tab>
                    <p:tab title="Types">
                        <p:dataTable id="types" var="type" value="#{singleDocView.document.types}" rowKey="#{type.id}"
                                     style="width: 100%" paginator="true" rows="5">
                            <f:facet name="header">
                                Types:
                            </f:facet>
                            <p:column headerText="Name" sortBy="#{type.name}">
                                <h:outputText value="#{type.name}" />
                            </p:column>
                            <p:column headerText="Description">
                                <h:outputText value="#{type.description}" />
                            </p:column>
                            <p:column headerText="Properties">
                                <h:outputText value="#{type.properties}" />
                            </p:column>
                            <p:column headerText="Attributes">
                                <style type="text/css">
                                    .datalist-noborder .ui-widget-content {
                                        border: none;
                                        background: transparent;
                                        line-height: 1.5;
                                    }
                                </style>
                                <div class="datalist-noborder">
                                    <p:dataList value="#{type.attributes}" var="attribute" type="definition"  styleClass="borderless">
                                        <p:link id="ajax" outcome="attribute_edit" ajax="true">
                                            <f:param name="id" value="#{attribute.id}" />
                                            <h:outputText value="#{attribute.name}" />
                                        </p:link>
                                    </p:dataList>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="List value types">
                        <p:dataTable id="listValueTypesDT" var="listValueType" value="#{singleDocView.document.listValueTypes}" rowKey="#{listValueType.id}">
                            <p:column headerText="id">
                                <h:outputText value="#{listValueType.id}"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{listValueType.name}"/>
                            </p:column>
                            <p:column headerText="Values">
                                <style type="text/css">
                                    .datalist-noborder .ui-widget-content {
                                        border: none;
                                        background: transparent;
                                        line-height: 1.5;
                                    }
                                </style>
                                <div class="datalist-noborder">
                                    <p:dataList value="#{listValueType.listValues}" var="listValue" type="definition"  styleClass="borderless">
                                        <h:outputText value="#{listValue.value}" />
                                    </p:dataList>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="List values">


                                    <p:dataTable value="#{singleDocView.document.listValues}" var="listValue" type="definition" >

                                        <p:column headerText="Id">
                                            <h:outputText value="#{listValue.listValueId}" />
                                        </p:column>

                                        <p:column headerText="Value">
                                            <h:outputText value="#{listValue.value}" />
                                        </p:column>

                                    </p:dataTable>


                    </p:tab>
                </p:tabView>
            </h:form>
        </h:body>
    </ui:define>

</ui:composition>
</html>