<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">

        <h:body>
           <h:form>
               <p:button value="Create Type"  outcome="type_create" icon="ui-icon-circle-plus" />
                <p:contextMenu for="types">
                    <p:menuitem value="View" update="typeDetail" icon="ui-icon-search" oncomplete="PF('typeDialog').show()"/>
                    <p:menuitem value="Edit" update="types" icon="ui-icon-pencil" action="#{typesView.editType}"/>
                    <p:menuitem value="Delete" update="types" icon="ui-icon-close" actionListener="#{typesView.deleteType}"/>
                </p:contextMenu>
                <p:dataTable id="types" var="type" value="#{typesView.types}" rowKey="#{type.id}"
                             selection="#{typesView.selectedType}" selectionMode="single"  style="width: 100%" paginator="true" rows="5" filteredValue="#{typesView.filteredTypes}">
                    <f:facet name="header">
                        Types:
                    </f:facet>
                    <p:column filterBy="#{type.name}" filterMatchMode="contains" headerText="Name" sortBy="#{type.name}">
                        <h:outputText value="#{type.name}" />
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{type.description}" />
                    </p:column>
                    <p:column headerText="Properties">
                        <h:outputText value="#{type.properties}" />
                    </p:column>
                    <p:column headerText="Attributes">
                        <style type="text/css">
                            .datalist-noborder .ui-widget-content {
                                border: none;
                                background: transparent;
                                line-height: 1.5;
                            }
                        </style>
                        <div class="datalist-noborder">
                            <p:dataList value="#{type.attributes}" var="attribute" type="definition"  styleClass="borderless">
                                <p:link id="ajax" outcome="attribute_edit" ajax="true">
                                    <f:param name="id" value="#{attribute.id}" />
                                    <h:outputText value="#{attribute.name}" />

                                </p:link>
                            </p:dataList>
                        </div>
                    </p:column>
                </p:dataTable>

                <p:dialog header="Type Info" widgetVar="typeDialog" appendToBody="false" modal="false" showEffect="fade" hideEffect="fade" resizable="false">

                    <p:outputPanel id="typeDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty typesView.selectedType}" columnClasses="label,value">
                        <f:facet name="header">
                            <h:outputText value="Type details" />
                        </f:facet>
                        <h:outputText value="Id:" />
                        <h:outputText value="#{typesView.selectedType.id}" />
                        </p:panelGrid>

                    </p:outputPanel>
                </p:dialog>
            </h:form>
        </h:body>

    </ui:define>
</ui:composition>
</html>