<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="id" value="#{typeEditView.id}" />
            <f:viewAction action="#{typeEditView.init}" />
        </f:metadata>
        <h:head>
            <title>Type edit</title>
        </h:head>
        <h:body>
            <h:form id="form">
                <h:panelGrid columns="2"  cellpadding="5">
                    <p:outputLabel for="id" value="Id : " />
                    <p:outputLabel id="id" value="#{typeEditView.type.id}"></p:outputLabel>
                    <p:outputLabel for="name" value="Name : " />
                    <p:inputText id="name" value="#{typeEditView.type.name}"></p:inputText>
                    <p:outputLabel for="description" value="Description : " />
                    <p:inputTextarea id="description" value="#{typeEditView.type.description}"></p:inputTextarea>
                    <p:outputLabel for="description" value="Attributes : " />
                    <p:selectManyMenu id="attributes" value="#{typeEditView.selectedAttributes}" converter="#{attributeConverter}"
                                      var="a" filter="true" filterMatchMode="contains" showCheckbox="true">
                        <f:attribute name="collectionType" value="java.util.ArrayList" />;
                        <f:selectItems value="#{typeEditView.attributes}" var="attribute" itemLabel="#{attribute.name}" itemValue="#{attribute}"/>
                        <p:column>
                            <h:outputText value="#{a.name}" />
                        </p:column>
                    </p:selectManyMenu>

                </h:panelGrid>
                <p:commandButton id="cancel" value="Cancel" action="#{typeEditView.cancel}" oncomplete = "window.history.back();" ajax="true" />
                <p:commandButton id="update" value="OK" action="#{typeEditView.update}" oncomplete = "window.history.back();" ajax="true"/>
            </h:form>
        </h:body>
    </ui:define>

</ui:composition>
</html>