<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">


        <h:form>
            <h:panelGrid columns="2">
                <p:outputLabel for="name" value="Name : " />
                <p:inputText id="name" value="#{typeCreateView.type.name}"></p:inputText>
                <p:outputLabel for="description" value="Description : " />
                <p:inputText id="description" value="#{typeCreateView.type.description}"></p:inputText>

                <p:outputLabel for="attributes" value="Attributes: " />
                <p:selectManyMenu id="attributes" value="#{typeCreateView.type.attributes}" converter="#{attributeConverter}"
                                  var="a" filter="true" filterMatchMode="contains" showCheckbox="true" style="column-rule-color: black">
                    <f:selectItems value="#{typeCreateView.attributes}" var="attribute" itemLabel="#{attribute.name}" itemValue="#{attribute}" />
                    <p:column>
                        <h:outputText value="#{a.name}" />
                    </p:column>
                </p:selectManyMenu>

                <p:outputLabel for="properties" value="properties: " />
                <p:inputText id="properties" value="#{typeCreateView.type.properties}"></p:inputText>
            </h:panelGrid>
            <p:commandButton id="addType" value="Add"  action="#{typeCreateView.addType}" oncomplete = "window.history.back();" ajax="true" />
        </h:form>

    </ui:define>
</ui:composition>

</html>