<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">




<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/template.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <h:head>
			
        </h:head>
        <h:body>

            <h:form>
            <h:outputText value="Upload files" style="position: relative; left:40%; top: 50px; font-size: 30px;" />
			<br/>
                <p:fileUpload  fileUploadListener="#{fileUploadView.uploadFile}" mode="advanced" invalidFileMessage="Invalid file type. Supported format: docx." dragDropSupport="true"
                              update="messages" sizeLimit="100000000" fileLimit="3" allowTypes="/(\.|\/)(txt|docx|doc)$/" ajax="true" oncomplete="updateParse"/>
                <p:remoteCommand name="updateParse" update="buttons:parse" />
                <p:growl id="messages" showDetail="false" rendered="false" />
            </h:form>
            <h:form id="buttons">
    			<p:commandButton id="parse" styleClass="save"  action="#{fileUploadView.parse()}" value="Parse" icon="ui-icon-script" />
    			<p:button styleClass="cancel" outcome="upload" value="Cancel" icon="ui-icon-cancel"/>
            </h:form>
        </h:body>
    </ui:define>
</ui:composition>
</html>
